<footer class=" text-white text-center {{#if aclicked}}d-none{{/if}}" style="background-color : #00695C;">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <!-- <div class="col-md-12 d-flex justify-content-center" style="width: auto;">-->

        <ul class="list-inline text-center list-unstyled">
            <li class="list-inline-item">
                <a class="p-2 fa-lg " href="https://twitter.com/Printedtshirt3" style="color: white;">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="p-2 fa-lg " href="https://www.facebook.com/printedtshirtdesigner/" style="color: white;">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="p-2 fa-lg " href="https://www.instagram.com/printedtshirtdesigner/">
                    <i class="fab fa-instagram" style="color: white;"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="p-2 fa-lg " href="https://www.linkedin.com/in/printed-t-shirt-designer-a572a2202">
                    <i class="fab fa-linkedin" style="color: white;"> </i>
                </a>
            </li>
        </ul>






        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-white" href="/">Printed Tshirt Designer</a>
    </div>
    <!-- Copyright -->
</footer>