<!DOCTYPE html>
<html>

<head>

    <title>{{title}}</title>
    <!--<link rel="icon" href="C:/Users/HP/Desktop/Projects/customtshirt/public/images/logo.png" type="image/x-icon"> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!--Custom Css-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<link rel='stylesheet' href='/stylesheets/mdb.min.css' />
    <link rel='stylesheet' href='/stylesheets/mdb.rtl.min.css' /> -->
</head>

<body>
  {{> header }}

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  <!-- <script type="text/javascript" src="javascripts/mdb.min.js"></script> -->
  <script>
    $(document).ready(function () {
      $("#anythingSearch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $(".card").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
  <!-- MDB -->
  <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js"></script>
-->
  <div class="container align-center">
    <div id="myDIV">
      {{{body}}}
    </div>
  </div>

  {{> footer}}

</body>

</html>