<div class="row d-flex justify-content-center">
<div class="col-sm-6 col-md-4">
    <div id="success" class="alert alert-success {{#if noMessages}}d-none{{/if}}">
        {{successMsg}}
    </div>
</div>
</div>

<h2 id="heading"><strong style="font-family: 'Poppins', sans-serif; font-size: 2.2rem; font-weight: 700">About Us</strong></h2>

<h4 style="font-size: 1.4rem;">We're more than just a t-shirt company....</h4>
<p style="font-size: 0.9rem;">
    We are a company of dreamers — of thinkers, movers, shakers, and believers. We understand that we’re not just
    printing t-shirts, we’re helping people make memories. To you, these are more than just pieces of fabric. They’re
    keepsakes that will remain with you for years. And we’re incredibly proud to know that, with every garment we print
    and every order we fill, we’re sharing with you a piece of ourselves.
</p>
<p style="font-size: 0.9rem;">
    When we decided to found Printed T-Shirt Designer.com, we didn’t do so as an Internet company. In fact, we had no
    intent of becoming who we are today.
</p>
<p style="font-size: 0.9rem;">
    We're constantly improving because we treat our workspace not just as a place to do business, but as a place to
    learn. We're always working on realizing new ways to deliver an even higher quality product with even faster
    turnaround times. From extraordinary print detail and exceptional customer service, to something as simple as
    delivering on the day we promise, we make sure you receive exactly what you want - when you want it. We have worked
    extremely hard, learned millions of lessons, and have invested incalculable amounts of time and energy into
    perfecting our craft to bring you a high quality product with a delivery date you can count on consistently.
</p>
<p style="font-size: 0.9rem;">
    We have a deep appreciation for our incredible customers, our talented team, and the new heights we'll reach
    together. Thank you so much for all the love and continued support!
</p>

<!-- Section: Contact v.3 -->
<section class="contact-section my-5">

    <!-- Form with header -->
    <div class="card">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-8">

                <form id="message-form" class="card-body" action="/message" method="post">

                    <!-- Header -->
                    <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Write to us:</h3>

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="phone" name="phone" class="form-control">
                                <label for="phone" class="">Your phone</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="company" name="company" class="form-control">
                                <label for="company" class="">Your company</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <textarea id="message" name="message" class="form-control md-textarea"
                                          rows="3"></textarea>
                                <label for="message">Your message</label>

                                <button class="btn-floating btn-lg " style="background-color : #00695C;color:white;" type="submit">
                                    <i class="far fa-paper-plane"></i>
                                </button>

                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->
                </form>
            </div>


            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4">

                <div class="card-body text-center h-100 white-text " style="background-color : #00695C;">

                    <h3 class="my-4 pb-2">Contact Information</h3>
                    <ul class="text-lg-left list-unstyled ml-4">
                        <li>
                            <p>
                                <i class="fas fa-map-marker-alt pr-2"></i>Sejal Park, Colony No 1, Bhagat Singh II,
                                Goregaon West, Mumbai, Maharashtra 400047
                            </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pr-2"></i>+91 94230 11789</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pr-2"></i>+91 22226 94719</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope pr-2"></i> printedtshirtdesigner@gmail.com</p>
                        </li>
                    </ul>
                    <hr class="hr-light my-4">
                    <ul class="list-inline text-center list-unstyled">
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg " href="https://twitter.com/Printedtshirt3" style="color: white;">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg " href="https://www.facebook.com/printedtshirtdesigner/"
                               style="color: white;">
                                <i class="fab fa-facebook-f"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg " href="https://www.instagram.com/printedtshirtdesigner/">
                                <i class="fab fa-instagram" style="color: white;"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg " href="www.linkedin.com/in/printed-t-shirt-designer-a572a2202">
                                <i class="fab fa-linkedin" style="color: white;"> </i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Form with header -->

</section>
<!-- Section: Contact v.3 -->