<div class="container">
    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed" style="left:0px;">

        <a class="logo-wrapper waves-effect">
            <h2><strong>Printed Tshirt Designer</strong></h2>
        </a>

        <div class="list-group list-group-flush">
            <a href="/user/admin" class="list-group-item active list-group-item-action waves-effect" style="background-color : #00695C; color:white;">
                <i class="fa fa-chart-pie mr-3"></i>Dashboard
            </a>
            <a href="/user/admin/users" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-user mr-3"></i>Users
            </a>
            <a href="/user/admin/products" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-table mr-3"></i>Products
            </a>
            <a href="/user/admin/orders" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-dollar-sign mr-3"></i>Orders
            </a>
            <a href="/user/admin/clipart" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-icons mr-3"></i>Clipart
            </a>
            <a href="/user/admin/messages" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope mr-3"></i>Messages
            </a>
            
        </div>

    </div>
    <!-- Sidebar -->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn" style="left:100px;">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="/user/admin" target="_blank" style="color : #00695C; ">Admin Home Page</a>
                        <span>/</span>
                        <span>Dashboard</span>
                    </h4>
                    <!--
                    <form class="d-flex justify-content-center">
                        
                        <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                        <button class="btn btn-primary btn-sm my-0 p" type="submit">
                            <i class="fa fa-search"></i>
                        </button>

                    </form>
-->
                </div>

            </div>
            <!-- Heading -->
            <div class="container mar-left" style="padding-left:100px;" >
            <div class="row justify-content-center mt-5" >
                <div class="col-sm-6 col-md-4 d-flex justify-content-center">
                    <div class="card ">
                         <a href="/user/admin/users" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-user fa-8x"></i>
            </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 d-flex justify-content-center">
                    <div class="card">
                        <a href="/user/admin/products" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-table fa-8x"></i>
            </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 d-flex justify-content-center">
                    <div class="card">
                         <a href="/user/admin/orders" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-dollar-sign fa-8x" style="padding-left: 34px; padding-right: 34px"></i>
            </a>
                    </div>
                </div>
</div>
<div class="row justify-content-center mt-5">
                <div class="col-sm-6 col-md-4 d-flex justify-content-center">
                    <div class="card">
                        <a href="/user/admin/clipart" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-icons fa-8x"></i>
            </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 d-flex justify-content-center">
                    <div class="card">
                        <a href="/user/admin/messages" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope fa-8x"></i>
            </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 d-flex justify-content-center">
                    <div class="card">
                         <a href="/user/admin" class="list-group-item  list-group-item-action waves-effect" >
                <i class="fa fa-chart-pie fa-8x"></i>
            </a>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </main>
    <!--Main layout-->
</div>